.progress {
  width: 100%;
  position: absolute;
  top: 59px;
  left: 0;
  visibility: hidden;
  &.show-progress {
    visibility: visible;
  }
}

.filler {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #062431;
  border-bottom: 1px solid #133e51;
  mat-icon {
    &#logo {
      margin-top: 8px;
      margin-right: 8px;
      width: 96px;
    }
  }

}
