<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuClicked($event)">
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <mat-icon id="logo" svgIcon="logo"></mat-icon>
  </div>
  <span class="title">Lifter</span>
  <span class="filler"></span>
  <button mat-icon-button *ngFor="let action of actions" (click)="action.click(action.$this, $event)" [matTooltip]="action.tooltip">
    <mat-icon>{{ action.icon }}</mat-icon>
  </button>
</mat-toolbar>
<div class="progress" [ngClass]="{'show-progress': progress}">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
