<app-lifter-toolbar (onMenu)="sidenav.toggle()"></app-lifter-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="side-nav" mode="side" opened="true">

    <mat-nav-list>
      <mat-list-item>
        <a matLine routerLink="/configuration" class="navigation-link">
          <mat-icon>settings</mat-icon>
          <span>Configuration</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a matLine routerLink="/connections" class="navigation-link">
          <mat-icon>network_check</mat-icon>
          <span>Connections</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a matLine routerLink="/setup" class="navigation-link">
          <mat-icon>tune</mat-icon>
          <span>Setup</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a matLine routerLink="/info" class="navigation-link">
          <mat-icon>info_outline</mat-icon>
          <span>Info</span>
        </a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
