<div class="sections">

  <mat-card class="section" *ngFor="let section of sections">
    <mat-card-header>
      <mat-card-title>
        <table style="min-width: 300px;">
          <tr>
            <td width="50%" style="text-align: right;">
              <span>{{ section.label }}&nbsp;:&nbsp;</span>
            </td>
            <td width="50%">
              <span>{{ section.message }}</span>
            </td>
          </tr>
        </table>
      </mat-card-title>
      <div class="status">
        <mat-icon *ngIf="section.ok" color="accent">check_circle</mat-icon>
        <mat-icon *ngIf="section.error" color="warn">error</mat-icon>
      </div>
    </mat-card-header>
  </mat-card>

</div>
