<div class="sections">

  <mat-card class="section">
    <mat-card-header>
      <mat-card-title>
        <mat-checkbox [(ngModel)]="model['key_value']"><span class="label">key-value store</span></mat-checkbox>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="section">
    <mat-card-header>
      <mat-card-title>
        <mat-checkbox [(ngModel)]="model['persistence']"><span class="label">persistence</span></mat-checkbox>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="section">
    <mat-card-header>
      <mat-card-title>
        <mat-checkbox [(ngModel)]="model['pulse']"><span class="label">pulse</span></mat-checkbox>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="section">
    <mat-card-header>
      <mat-card-title *ngFor="let artifact of artifacts">
        <mat-checkbox [(ngModel)]="model['artifacts'][artifact]"><span class="label">{{ artifact }}</span></mat-checkbox>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

</div>
